body{
    margin:0;
    padding:0;
    background:url(glasses.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    font-family: sans-serif;
}
.loginbox{
    width:320px;
    height:420px;
    background-color: black;
    top: 50%;
    left: 50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 30px;
}
.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:calc(50% - 50px);
}
h1{
    margin:0;
    padding:0;
    text-align:center;
    font-size:22px;
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight:bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 2px solid white;
    background: transparent;
    outline:none;
    height: 40px;
    color:#fff;
    font-size: 14px;
}
.loginbox input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    font-size: 15px;
    background-color: rgb(156, 95, 154);
    color:rgb(197, 189, 189);
}
.loginbox input[type="submit"]:hover{
   cursor: pointer;
    background-color:rgb(66, 245, 239);
    color:black;
    transition:all .5s ease;
}
.loginbox a{
    text-decoration:none;
    font-size: 14px;
    line-height:20px;
    color:rgb(252, 249, 228);
}
.loginbox a:hover{
    color:rgb(247, 130, 175);

}